{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}
<h1>Главная страница</h1>
<hr>
<h2>Добро пожаловать на сайт онлайн библиотеки</h2>
<p>Все книги добавляются администраторами, если вашей книги нет,
    то пишите пожелания на почту
    <a href="mailto:temp74054@gmail.com">temp74054@gmail.com</a></p>
<p>Без регистрации вы можете просмотреть какие публичные
    книги имеются в нашей онлайн библиотеке
</p>
<p>Без регистрации вы можете просмотреть какие публичные
    книги имеются в нашей онлайн библиотеке с помощью
    http запроса <a href="/api/books">/api/books</a>, а также
    просматривать конкретную публичную книгу с конкретным
    <bold>id</bold>, допустим с id = 1, по запросу
    <a href="/api/books/1">/api/books/1</a>
</p>
<p>Внимание! Для завершения регистрации вам необходимо подтвердить ваш email адрес</p>
<p>С регистрацией у вас появляется возможность просматривать какие приватные
    книги имеются в нашей онлайн библиотеке, вы
    сможете скачать публичные и приватные книги
</p>
<p>С регистрацией вы также можете получить api ключ,
    чтобы получать json выгрузку приватных книг, которые
    имеются в нашей онлайн библиотеке
</p>
<p>С регистрацией вы можете просмотреть какие публичные и приватные
    книги имеются в нашей онлайн библиотеке с помощью
    http запроса с api ключом
    <a href="/api/books?api_key=your_api_key">/api/books?api_key=your_api_key</a>,
    а также просматривать конкретную публичную и приватную книгу с конкретным
    <bold>id</bold>, допустим с id = 1, по запросу
    <a href="/api/books/1?api_key=insert_your_api_key_here">/api/books/1?api_key=insert_your_api_key_here</a>
</p>
<p>С регистрацией вы можете менять ваш пароль, имя, фамилию на сайта</p>

{% endblock %}
