{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}
<h1>Добавление книги</h1>
<hr class="no-margins">
<form class="mt-3" action="" method="post" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author(class="form-control") }}<br>
        {% for error in form.author.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(class="form-control", type="file", accept=".jpg, .jpeg, .png",
            onchange='document.getElementById("image_preview").src = window.URL.createObjectURL(this.files[0])') }}<br>
        <img id="image_preview" /><br>
        {% for error in form.image.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.file.label }}<br>
        {{ form.file(class="form-control", type="file", accept=".fb2, .pdf, .epub, .aep, .mobi, .azw3") }}<br>
        {% for error in form.file.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}