{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}
<h1>Приватные книги</h1>
<hr class="no-margins">
<div class="card-deck mt-3">
    {% if books %}
    {% for book in books %}
    <div class="card mb-2">
        <img class="card-img-top mx-auto d-block mt-3" src="data:image/png;base64,{{ book.img_src }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Название: {{ book.title }}</h5>
            <h5 class="card-title">Автор: {{ book.author }}</h5>
        </div>
        {% if current_user.is_authenticated%}
        <div class="card-footer d-flex justify-content-center">
            <a href="{{ url_for('book.book_download', id=book.id) }}" class="btn btn-primary">Скачать</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <div class="card">
        <div class="card-body">
            <h5>На данный момент книг нет</h5>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}